@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');



.header{
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.body{
    font-family: 'Anton', sans-serif;
}
div{
    background-color: #E6E6E6;
    opacity: 1;
}
.circle1 {
    background: #E6563B;
    border-radius: 60%;
    border: 8px solid white;
    margin: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;




}
.circle2 {
    background: #EB9D3A;
    border-radius: 60%;
    border: 8px solid white;
    margin: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    top: 10px;
    bottom: 10px;


}
.circle3 {
    background: #7CB06C;
    border-radius: 60%;
    border: 8px solid white;
    margin: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.circle4 {
    background: #00ABA9;
    border-radius: 60%;
    border: 8px solid white;
    margin: 40px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;

}
.row{
    margin: 10px;
    padding-bottom: 10px;
}
.box1{
    margin: 10px;
}
.box2{
    padding: 10px;
}
.box3{
    padding: 10px;
}
.box4{
    padding: 10px;
}

.comments{
    text-align: left;
    font-family: 'Abel', sans-serif;
}

#logo{
    width: 105px;
    height: 105px;

}


.redcircle{
    border radius: 60%;
    background: #E6563B;
    border-radius: 60%;
    padding-top: 4px;
    padding-bottom: 9px;
    margin: 40px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}

.orangecircle{
    background: #EB9D3A;
    border-radius: 60%;
    padding-top: 4px;
    padding-bottom: 9px;
    margin: 40px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;

}

.greencircle{
    background: #7CB06C;
    border-radius: 60%;
    padding-top: 4px;
    padding-bottom: 9px;
    margin: 40px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}


.bluecircle{
    background: #00ABA9;
    border-radius: 60%;
    padding-top: 4px;
    padding-bottom: 9px;
    margin: 40px;
    width: 30px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}
